::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  transition: background-color 0.1s;
}
